<div class="map"></div>
<section class="layers-pane-sidebar" (click)="toggleLayersPane()">
    <span class="action-handle"><mat-icon>{{layersPaneActive ? 'chevron_left' : 'chevron_right'}}</mat-icon></span>
    <span class="layers-panel-title">Search & Layers</span>
</section>
<map-zoom [map]="instance"></map-zoom>
<map-extent [map]="instance"></map-extent>
<map-measure [instance]="instance"></map-measure>
<map-basemaps [map]="instance"></map-basemaps>
<div id="pointer-popup">
    <table [ngClass]="mouseTooltip.layer !== '' ? '' : 'empty'" class="tooltip-table">
        <tr class="popup-layer">
            <td>{{mouseTooltip.layer}}</td>
        </tr>
        <ng-container *ngFor="let row of mouseTooltip.props">
            <tr class="popup-prop" *ngIf="mouseTooltip.props.length > 1">
                <td>{{row.prop | titlecase}}</td>
            </tr>
            <tr class="popup-value">
                <td>{{row.value}}</td>
            </tr>
        </ng-container>
    </table>
</div>
<footer>
    <map-scale [map]="instance"></map-scale>
    <mat-progress-spinner class="progress-spinner" mode='indeterminate' *ngIf="loadingIndicator" diameter="40"></mat-progress-spinner>
</footer>
